body{
    margin: 0;
    background-color: #111;
}

canvas{
    position: relative;
    display: block;
    margin: auto;
    top: 2rem;
    background-color: #222;
}

#tileinfo{
    position: relative;
    display: block;
    margin: auto;
    padding: .5rem;
    top: 5rem;
    width: fit-content;
    height: fit-content;
    background-color: #222;
    color: #fff;
}